.line,
.line1,
.line2,
.line3,
.opened .line1,
.opened .line2,
.opened .line3 {
    stroke-width: 6px;
}

.line {
    fill: none;
    stroke: var(--main-color-white);
    transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
}

.line2 {
    stroke-dasharray: 60 60;
}

.line3 {
    stroke-dasharray: 60 207;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke: var(--main-danger);
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke: var(--main-color-white);
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke: var(--main-danger);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:hover {
    box-shadow: none;
}