.slider {
    height: 500px;
    background-image: url("/_assets/images/slider-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 2px 2px 13px rgb(26, 26, 26);
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    background-color: var(--main-color);
    background-position-x: 75%;
}

.slider-content {
    background-color: rgb(255 255 255);
    color: var(--main-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 13px rgb(26, 26, 26);
    margin-bottom: 2%;
    opacity: 0.7;
}