<form method="post" action="{{ path('app_article_delete', {'id': article.id}) }}" onsubmit="return confirm('confirmez-vous la suppression de cet article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn">Effacer</button>
</form>
