{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}
{% set aside = "not" %}

{% block header %}
	{{ include('header/header.html.twig', {name :  "Dashboard" })}}
{% endblock %}
{% block body %}

	<div class="UserDashboard flex gap-20">
		{{ include('account_dashboard/index.html.twig', {page: "index"}) }}
		<div class="UserDashboard-container">
			<h2>Bienvenue sur votre tableau de bord</h2>
			<p>Vous pouvez gérer votre compte depuis cette page</p>
		</div>
	</div>

{% endblock %}
